<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label> User Access: </label>
        
            <input type="radio" id="general" value="general" checked>
            <label for="general">General</label>
       
            <input type="radio" id="creator" value="creator" >
            <label for="creator">Creator</label>
        
            <h2>User id : {{users.user_id}}</h2>
            <h2>User name : {{users.user_name}}</h2>
            <h2>User email : {{users.user_email}}</h2>
            <h2>User access : {{users.user_access}}</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum a perferendis beatae repellat quaerat consequatur, earum hic eius, mollitia, quia voluptatum veniam fugiat magni aut quidem aliquid impedit accusamus dolore? Id molestiae ea soluta vitae, suscipit laborum asperiores expedita quia, dolores optio iure dolorum ducimus ipsam necessitatibus, non libero dicta?
    </div>
</body>
</html>

<!-- 'user_id': user[i].user_id,
'user_name': user[i].user_name,
'user_email': user[i].user_email,
'user_access': user[i].user_access -->